@charset "utf-8";

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 52px;
    background:silver;
    z-index: 1000;
    box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.5);
}

.header-content-box{
    width: 100%;
    max-width: 750px;
    margin:  0 auto;
}

.header-title{
    color: black;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    top: 16px;
    font-size: 1em;
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN',
                'ヒラギノ角ゴ ProN W3',sans-serif;
    font-weight: bold;
}

.header-left {
    height: 28px;
    margin-top: 12px;
    margin-right: 10px;
    float: left;
    margin-left: 15px;
}

.header-right {
    height: 28px;
    margin-top: 14px;
    float: right;
    margin-right: 15px;
}

body {
    /* color: #6f6f6f; */
    color: #5f5f5f;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100vw;
    padding: 60px 0 60px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background:silver;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
}

.footer-content-box{
    width: 100%;
    max-width: 750px;
    margin:  0 auto;
}

.footer-title{
    color: black;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    top: 2px;
    font-size: 1em;
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN',
                'ヒラギノ角ゴ ProN W3',sans-serif;
    font-weight: bold;
}

.footer-left {
    height: 32px;
    float: left;
    margin-left:  10px;
    margin-right: 10px;
}

.footer-right {
    height: 32px;
    float: right;
    margin-left:  10px;
    margin-right: 10px;
}

/* table */

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 10px 5px 10px 5px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td.num {
    margin-left:  auto;
    margin-right: 0px;
    color: red;
}

/* contenteditable */
td[contenteditable=plaintext-only] {
    border: dashed red;
}
[contenteditable=plaintext-only]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: gray;
}
 
div[contenteditable=true] {
  border: 1px dashed #AAA;
  width: 290px;
  padding: 15px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

