@charset "utf-8";

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 52px;
    background:silver;
    z-index: 1000;
    box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.5);
}

.header-content-box{
    width: 100%;
    max-width: 750px;
    margin:  0 auto;
}

.header-title{
    color: black;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    top: 16px;
    font-size: 1em;
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN',
                'ヒラギノ角ゴ ProN W3',sans-serif;
    font-weight: bold;
}

.header-left {
    height: 28px;
    margin-top: 12px;
    margin-right: 10px;
    float: left;
    margin-left: 15px;
}

.header-right {
    height: 28px;
    margin-top: 14px;
    float: right;
    margin-right: 15px;
}

body {
    /* color: #6f6f6f; */
    color: #5f5f5f;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100vw;
    padding: 60px 0 60px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background:silver;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
}

.footer-content-box{
    width: 100%;
    max-width: 750px;
    margin:  0 auto;
}

.footer-title{
    color: black;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    top: 2px;
    font-size: 1em;
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN',
                'ヒラギノ角ゴ ProN W3',sans-serif;
    font-weight: bold;
}

.footer-left {
    height: 32px;
    float: left;
    margin-left:  10px;
    margin-right: 10px;
}

.footer-right {
    height: 32px;
    float: right;
    margin-left:  10px;
    margin-right: 10px;
}
